.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  min-height: 10vh;
  position: sticky;
  top: 0;
  z-index: 1;

  padding: 0 3rem;
  background-color: var(--bg-color);
  color: var(--text-color);
  
  .logo {
    font-size: 64px;
    font-family: 'Gochi Hand', cursive;
    font-weight: 300;
    transform: rotate(-10deg);

    a { color: inherit; } 
  }

  .menu {
  }

  .options {
    display: flex;
    align-items: center;
  }
}
