.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  min-height: 15vh;
  position: sticky;
  top: 0;
  z-index: 10;

  padding: 0 3rem;
  background-color: var(--bg-color);
  color: var(--text-color);

  @media (max-width: 900px) {
    min-height: 10vh;
    padding: 0 2rem;
  }

  .logo {
    font-size: 64px;
    font-family: 'Gochi Hand', cursive;
    font-weight: 300;
    transform: rotate(-10deg);

    @media (max-width: 900px) {
      font-size: 54px;
    }

    a {
      color: inherit;
    }
  }

  .navbar {
    &-mobile {
      display: none;
      @media (max-width: 767px) {
        display: flex;
      }
    }
  }

  .menu {
    display: none;
    @media (min-width: 768px) {
      display: block;
    }
  }

  .options {
    display: none;
    align-items: center;

    @media (min-width: 768px) {
      display: flex;
    }
  }

  .burger {
    z-index: 100;

    label {
      display: flex;
      flex-direction: column;
      width: 40px;
      cursor: pointer;
    }

    label span {
      background: #fff;
      border-radius: 10px;
      height: 4px;
      margin: 4px 0;
      transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    }

    span:nth-of-type(1) {
      width: 50%;
    }

    span:nth-of-type(2) {
      width: 100%;
    }

    span:nth-of-type(3) {
      width: 75%;
    }

    input[type='checkbox'] {
      display: none;
    }

    input[type='checkbox']:checked ~ span:nth-of-type(1) {
      transform-origin: bottom;
      transform: rotatez(45deg) translate(5px, 0px);
    }

    input[type='checkbox']:checked ~ span:nth-of-type(2) {
      transform-origin: top;
      transform: rotatez(-45deg);
    }

    input[type='checkbox']:checked ~ span:nth-of-type(3) {
      transform-origin: bottom;
      width: 50%;
      transform: translate(18px, -6px) rotatez(45deg);
    }
  }
}
