.nav-wrapper {
  width: 75px;
  margin: 15px 3rem 0 0;
  text-align: center;
}
.sl-nav {
  display: inline;
}
.sl-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: inline-block;
}
.sl-nav li {
  cursor: pointer;
  padding-bottom: 10px;
}
.sl-nav li ul {
  display: none;
}
.sl-nav li:hover ul {
  position: absolute;
  top: 29px;
  right: -15px;
  display: block;
  background: #fff;
  width: 120px;
  padding-top: 0px;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);

  @media (max-width: 900px) {
    top: -100px;
    right: -15px;
  }
}
.sl-nav li:hover .triangle {
  position: absolute;
  top: 15px;
  right: -10px;
  z-index: 10;
  height: 14px;
  overflow: hidden;
  width: 30px;
  background: transparent;

  @media (max-width: 900px) {
    top: -17px;
    transform: rotate(180deg);
  }
}
.sl-nav li:hover .triangle:after {
  content: '';
  display: block;
  z-index: 20;
  width: 15px;
  transform: rotate(45deg) translateY(0px) translatex(10px);
  height: 15px;
  background: #fff;
  border-radius: 2px 0px 0px 0px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.sl-nav li ul li {
  position: relative;
  text-align: left;
  background: transparent;
  padding: 15px 15px;
  padding-bottom: 0;
  z-index: 2;
  font-size: 15px;
  color: #3c3c3c;
}
.sl-nav li ul li:last-of-type {
  padding-bottom: 15px;
}
.sl-nav li ul li span {
  padding-left: 5px;
}
.sl-nav li ul li span:hover,
.sl-nav li ul li span.active {
  color: #146c78;
}
.sl-nav li ul li span.active {
  font-size: 18px;
}
.sl-flag {
  display: inline-block;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  width: 15px;
  height: 15px;
  background: #aaa;
  border-radius: 50%;
  position: relative;
  top: 2px;
  overflow: hidden;
}
.flag-en {
  background-size: cover;
  background-position: center center;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAIAAAAC64paAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMTM0A1t6AAABhUlEQVQ4T2Ows82PjGixsc4LD2tysC/09Kjw8622tyuICG8u0w/cpGSCBzF4e1VmZkzw9anOzOj38a4KCW4IC22ECHYk1l9tn4gHMeTlTnZxLikvm+XiUpKW2hvgX+vnV5OVOQEoOGfOtv94AYOzU3Fd7XxHh6Lq6rlurqUx0W0J8Z1AnbW18yotonaYuOJBDBXls4A+bGpaBCTz86YEBtQCvVBSPAPIbY0oP1/aiAcxABU1Ny+2tclvbFjo5FgUF9uenNwNDLnmpkWEnV1TPRcY1O1tS4H6i4umA/0MDK2K8tlAwRqHpP1uoXgQKKraWpcClTY3LQZaCLQ5NaUX5OaWJY3++SeTC/AgBmA4AXUClUJs9ver8fKsAAYEUJCws4G21dXNB1oFdD/Qz8DQTk4C+bm2dn6DZ9bRiDQ8iAEYt8CoBpK5YBIYw0AEEZwSXX4oMB4PYoC6gCzAcDqrjGzEsMfen2xEmbMv1rSTjRi26dqRjShz9o2+6WQjBrSShQSkZAIADvW/HLrLY6cAAAAASUVORK5CYII=');
}
.flag-es {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAMAAADzN3VRAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAclBMVEUAAADYACfdHCvYACfYACfYACfYACfYACfYACfYACfYACfYACfYACfYACfYACfYACfYACfYACfcGSraDSndGSr6vkD3rT7/20T/2kT/2kT/2kT/2kT/20TYACfYACfYACfaCynaDCn3qz7/3UT/2kT////0HvdiAAAAH3RSTlMAAAAgabLh9/4VdtT71TjBSN4g1CBp+7Lh4Pf+scDgT7mImwAAAAFiS0dEJcMByQ8AAAAJcEhZcwAADsQAAA7EAZUrDhsAAAAHdElNRQfmARoTAjuTUFr7AAAAn0lEQVQoz32S6RKCIBRGP/dAA5fU1Apb3v8ZA2qcDC7nB8ucYYB7PwCINEma5cWhyLM0MVtY9ILxslIfqiNnX6UnIdUvUlilh7pRe5raKH3iX2gljGFSuUgWIebKB4/RduvdZe1O6IeHj6HH+PQz4vzyM2EmzIyFMEvgzETeQ73tEvgPVYM2UDe61oH+kD21Obj6cuBkp9yys+Xtts/bG2/GPeV1HOHJAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDIyLTAxLTI2VDE5OjAyOjI5KzAwOjAwu1GvBAAAACV0RVh0ZGF0ZTptb2RpZnkAMjAyMi0wMS0yNlQxOTowMjoyOSswMDowMMoMF7gAAAAZdEVYdFNvZnR3YXJlAHd3dy5pbmtzY2FwZS5vcmeb7jwaAAAAAElFTkSuQmCC');
  background-size: cover;
  background-position: center center;
}
