<section class="skills">
  <span id="skills" class="navigator"></span>

  <div class="section-title">{{ 'skills.title' | translate }}</div>

  <div class="skills-container">
    <div class="mastered">
      <div class="subtitle">{{ 'skills.mastered' | translate }}</div>
      <div class="card">
        <div class="card-inner">
          <div class="card-inner__image">
            <img src="assets/icons/js.png" loading="lazy" alt="javascript" />
            <app-tooltip [label]="'skills.tooltip.javascript'"></app-tooltip>
          </div>
          <div class="card-inner__image">
            <img src="assets/icons/angular.png" loading="lazy" alt="angular" />
            <app-tooltip [label]="'skills.tooltip.angular'"></app-tooltip>
          </div>
          <div class="card-inner__image">
            <img src="assets/icons/typescript.png" loading="lazy" alt="typescript" />
            <app-tooltip [label]="'skills.tooltip.typescript'"></app-tooltip>
          </div>
          <div class="card-inner__image">
            <img src="assets/icons/html.png" loading="lazy" alt="html" />
            <app-tooltip [label]="'skills.tooltip.html'"></app-tooltip>
          </div>
          <div class="card-inner__image">
            <img src="assets/icons/css.png" loading="lazy" alt="css" />
            <app-tooltip [label]="'skills.tooltip.css'"></app-tooltip>
          </div>
          <div class="card-inner__image">
            <img src="assets/icons/sass.png" loading="lazy" alt="sass" />
            <app-tooltip [label]="'skills.tooltip.sass'"></app-tooltip>
          </div>
          <div class="card-inner__image">
            <img src="assets/icons/tailwind.png" loading="lazy" alt="tailwindcss" />
            <app-tooltip [label]="'skills.tooltip.tailwind'"></app-tooltip>
          </div>
          <div class="card-inner__image">
            <img src="assets/icons/git.png" loading="lazy" alt="git" />
            <app-tooltip [label]="'skills.tooltip.git'"></app-tooltip>
          </div>
          <div class="card-inner__image">
            <img src="assets/icons/atlassian.png" loading="lazy" alt="atlassian" />
            <app-tooltip [label]="'skills.tooltip.atlassian'"></app-tooltip>
          </div>
          <div class="card-inner__image">
            <img src="assets/icons/scrum.png" loading="lazy" alt="scrum" />
            <app-tooltip [label]="'skills.tooltip.scrum'"></app-tooltip>
          </div>
        </div>
      </div>
    </div>

    <div class="learn">
      <div class="subtitle">{{ 'skills.learn' | translate }}</div>
      <div class="card">
        <div class="card-inner">
          <div class="card-inner__image">
            <img src="assets/icons/react.png" loading="lazy" alt="react" />
            <app-tooltip [label]="'skills.tooltip.react'"></app-tooltip>
          </div>
          <div class="card-inner__image">
            <img src="assets/icons/nextjs.png" loading="lazy" alt="nextjs" />
            <app-tooltip [label]="'skills.tooltip.nextjs'"></app-tooltip>
          </div>
          <div class="card-inner__image">
            <img src="assets/icons/ethereum.png" loading="lazy" alt="ethereum" />
            <app-tooltip [label]="'skills.tooltip.eth'"></app-tooltip>
          </div>
          <div class="card-inner__image">
            <img src="assets/icons/blockchain.png" loading="lazy" alt="blockchain" />
            <app-tooltip [label]="'skills.tooltip.blockchain'"></app-tooltip>
          </div>
          <div class="card-inner__image">
            <img src="assets/icons/node.png" loading="lazy" alt="node" />
            <app-tooltip [label]="'skills.tooltip.node'"></app-tooltip>
          </div>
          <div class="card-inner__image">
            <img src="assets/icons/vite.png" loading="lazy" alt="vite" />
            <app-tooltip [label]="'skills.tooltip.vite'"></app-tooltip>
          </div>
        </div>
      </div>
    </div>
  </div>

  <svg class="wave wave-home" xmlns="http://www.w3.org/2000/svg" viewBox="0 224 1440 96">
    <path fill="#ffffff" fill-opacity="1" d="M0,224L1440,256L1440,320L0,320Z"></path>
  </svg>
</section>
