.home {
  position: relative;
  height: 85vh;

  @media (max-width: 1050px) {
    height: 90vh;
    min-height: 90vh;
  }

  background-color: var(--bg-color);
  color: var(--text-color);

  .content {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;

    @media (max-width: 1050px) {
      display: flex;
      flex-direction: column;
    }

    .col1,
    .col2 {
      margin-bottom: 10rem;
      @media (max-width: 1050px) {
        margin-bottom: 4rem;
      }
    }

    .col1 {
      text-align: end;
      @media (max-width: 1050px) {
        text-align: center;
      }

      .contact-container {
        display: flex;
        justify-content: flex-end;
        @media (max-width: 1050px) {
          justify-content: center;
        }

        a {
          text-decoration: none;
        }
      }

      .contact-button {
        cursor: pointer;
        background: var(--primary-color);
        color: white;
        font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
        padding: 0.35em;
        padding-left: 1.2em;
        font-size: 17px;
        font-weight: 500;
        border-radius: 0.9em;
        border: none;
        letter-spacing: 0.05em;
        display: flex;
        align-items: center;
        box-shadow: inset 0 0 1.6em -0.6em #714da6;
        overflow: hidden;
        position: relative;
        height: 2.8em;
        padding-right: 3.3em;
      }

      .contact-button .icon {
        background: white;
        margin-left: 1em;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.2em;
        width: 2.2em;
        border-radius: 0.7em;
        box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
        right: 0.3em;
        transition: all 0.3s;

        &-envelope {
          color: var(--primary-color);
        }
      }

      .contact-button:hover .icon {
        width: calc(100% - 0.6em);
      }

      .contact-button .icon svg {
        width: 1.1em;
        transition: transform 0.3s;
        color: var(--bg-color);
      }

      .contact-button:hover .icon svg {
        transform: translateX(0.1em);
      }

      .contact-button:active .icon {
        transform: scale(0.95);
      }
    }

    .col2 {
      position: relative;
      display: inline;

      figure {
        position: absolute;
        bottom: 10px;
        right: -15px;
        width: 400px;
        height: 370px;
        border-radius: 50%;
        overflow: hidden;

        @media (max-width: 1050px) {
          width: 250px;
          height: 230px;
          bottom: 0;
          right: -30;
        }

        .face {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }

      .img-blur {
        width: 450px;
        height: 420px;
        border-radius: 50%;
        background: lightgray;

        -webkit-filter: blur(20px);
        -moz-filter: blur(20px);
        -o-filter: blur(20px);
        -ms-filter: blur(20px);
        filter: blur(20px);

        @media (max-width: 1050px) {
          width: 275px;
          height: 245px;
          filter: blur(50px);
        }
      }
    }
  }

  /* Shine */
  .hover figure {
    position: relative;
  }

  .hover figure::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
  }

  .hover figure:hover::before {
    -webkit-animation: shine 0.75s;
    animation: shine 0.75s;
  }

  @-webkit-keyframes shine {
    100% {
      left: 125%;
    }
  }
  @keyframes shine {
    100% {
      left: 125%;
    }
  }
}
