<nav>
  <ul>
    <li [class.active] = "!section"><a href="#" >{{ "navbar.home" | translate}}</a></li>
    <li [class.active] = "section === 'about'"><a href="#about" >{{ "navbar.about" | translate}}</a></li>
    <li [class.active] = "section === 'projects'"><a href="#projects">{{ "navbar.projects" | translate}}</a></li>
    <li [class.active] = "section === 'skills'"><a href="#skills">{{ "navbar.skills" | translate}}</a></li>
    <li [class.active] = "section === 'contact'"><a href="#contact">{{ "navbar.contact" | translate}}</a></li>
  </ul>
</nav>
