.home {
  position: relative;
  height: 85vh;
  min-height: 85vh;

  @media (max-width: 900px) {
    height: 75vh;
    min-height: 75vh;
  }

  background-color: var(--bg-color);
  color: var(--text-color);

  .content {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;

    @media (max-width: 900px) {
      display: flex;
      flex-direction: column;
    }

    .col1, .col2 {
      margin-bottom: 10rem;
      @media (max-width: 900px) {
        margin-bottom: 4rem;
      }
    }

    .col1 {
      text-align: end;
      @media (max-width: 900px) {
        text-align: center;
      }
    }

    .col2 {
      position: relative;
      display: inline;

      .face {
        width: 400px;
        height: 370px;
        border-radius: 50%;

        position: absolute;
        bottom: 20px;
        right: 30px;

        @media (max-width: 900px) {
          width: 250px;
          height: 230px;
          bottom: 0;
          left: 10px;
        }
      }

      .img-blur {
        width: 450px;
        height: 420px;
        border-radius: 50%;
        background: lightgray;

        -webkit-filter: blur(20px);
        -moz-filter: blur(20px);
        -o-filter: blur(20px);
        -ms-filter: blur(20px);
        filter: blur(20px);

        @media (max-width: 900px) {
          width: 275px;
          height: 245px;
          filter: blur(50px);
        }
      }
    }
  }
}
