.home {
  position: relative;
  height: 85vh;
  min-height: 85vh;

  background-color: var(--bg-color);
  color: var(--text-color);

  .content {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;

    .col1, .col2 {
      margin-bottom: 10rem;
    }

    .col1 {
      text-align: end;
    }

    .col2 {
      position: relative;
      display: inline;

      .face {
        width: 400px;
        height: 370px;
        border-radius: 50%;

        position: absolute;
        bottom: 20px;
        right: 30px;
      }

      .img-blur {
        width: 450px;
        height: 420px;
        border-radius: 50%;
        background: lightgray;

        -webkit-filter: blur(20px);
        -moz-filter: blur(20px);
        -o-filter: blur(20px);
        -ms-filter: blur(20px);
        filter: blur(20px);
      }
    }
  }
}
