.home {
  position: relative;
  min-height: 90vh;
  
  background-color: var(--bg-color);
  color: var(--text-color);

  .content {
    height: 750px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;

    .col1, .col2 {
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
    }

    .col1 {
      text-align: end;
    }

    .col2 {
      margin-bottom: 150px;

      .face {
        width: 450px;
        height: 420px;

        border-radius: 50%;
        box-shadow: rgb(97 173 100 / 56%) 0px 22px 70px 4px;
      }
    }
  }
}
