.projects {
  position: relative;
  padding-bottom: 200px;

  background-color: var(--bg-color);
  color: var(--text-color);

  .projects-grid {
    display: flex;
    flex-direction: column;
    align-items: center;

    .container {
      width: 85%;
      display: flex;
      justify-content: center;

      img {
        width: 50%;
        object-fit: cover;
      }

      .info {
        width: 30%;

        &__title {
          font-family: 'Supermercado One', 'Franklin Gothic Medium',
            'Arial Narrow', Arial, sans-serif;
          font-size: 32px;
        }

        &__text {
          font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
          font-size: 18px;
          font-weight: 300;
          word-wrap: break-word;
        }
      }

      .info-margin-left, .info-margin-right {
        margin-left: 3rem;
      }
    }

    hr {
      width: 50%;
      margin: 6rem 0;
    }
  }
}
