<section class="projects">
  <span id="projects" class="navigator"></span>

  <div class="section-title">{{ 'projects.title' | translate }}</div>

  <div class="projects-grid">
    <div class="container">
      <div class="block-img row-reverse">
        <div class="badges badges-left">
          <img src="assets/icons/angular.png" loading="lazy" alt="A" title="Angular" />
          <img src="assets/icons/typescript.png" loading="lazy" alt="TS" title="Typescript" />
          <img src="assets/icons/blockchain.png" loading="lazy" alt="BTC" title="Blockchain" />
          <img src="assets/icons/node.png" loading="lazy" alt="node" title="NodeJS" />
        </div>
        <div>
          <a href="https://dummycoin.vercel.app" target="_blank">
            <img loading="lazy" src="assets/img/dummycoin.png" />
          </a>
          <div class="buttons">
            <a *ngIf="!isMobile" href="https://dummycoin.vercel.app" target="_blank">
              <button>
                <span>{{ 'projects.buttons.visit' | translate }}</span
                >&nbsp;
                <fa-icon [icon]="faLink"></fa-icon>
              </button>
            </a>

            <div class="buttons__code">
              <a href="https://github.com/AdrianAgui/dummycoin-frontend" target="_blank">
                <button>
                  <span>Frontend</span>&nbsp;
                  <fa-icon [icon]="faCode"></fa-icon>
                </button>
              </a>
              <a href="https://github.com/AdrianAgui/dummycoin-backend" target="_blank">
                <button>
                  <span>Backend</span>&nbsp;
                  <fa-icon [icon]="faCode"></fa-icon>
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="info info-margin info-margin-left">
        <div class="info__title">
          {{ 'projects.dummycoin.title' | translate }}
        </div>
        <p class="info__text">
          {{ 'projects.dummycoin.info' | translate }}
        </p>
      </div>
    </div>

    <hr />

    <div class="container col-reverse">
      <div class="info info-margin info-margin-right">
        <div class="info__title">
          {{ 'projects.wallapop.title' | translate }}
        </div>
        <p class="info__text">
          {{ 'projects.wallapop.info' | translate }}
        </p>
      </div>

      <div class="block-img">
        <div class="badges badges-right">
          <img src="assets/icons/angular.png" loading="lazy" alt="A" title="Angular" />
          <img src="assets/icons/typescript.png" loading="lazy" alt="TS" title="Typescript" />
          <img src="assets/icons/sass.png" loading="lazy" alt="sass" title="Sass" />
          <img src="assets/icons/html.png" loading="lazy" alt="html" title="HTML5" />
        </div>
        <div>
          <a href="https://wallapop-frontend-test.vercel.app/home" target="_blank">
            <img loading="lazy" src="assets/img/wallapop.png" />
          </a>
          <div class="buttons buttons-justify-end">
            <a *ngIf="!isMobile" href="https://wallapop-frontend-test.vercel.app/home" target="_blank">
              <button>
                <span>{{ 'projects.buttons.visit' | translate }}</span
                >&nbsp;
                <fa-icon [icon]="faLink"></fa-icon>
              </button>
            </a>
            <div class="buttons__code">
              <a href="https://wallapop-frontend-test.vercel.app/home" target="_blank">
                <button>
                  <span>{{ 'projects.buttons.code' | translate }}</span
                  >&nbsp;
                  <fa-icon [icon]="faCode"></fa-icon>
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr />

    <div class="container">
      <h2>Dev in progress... 👨‍💻</h2>
    </div>
  </div>

  <svg class="wave wave-home" xmlns="http://www.w3.org/2000/svg" viewBox="0 224 1440 96">
    <path fill="#ffffff" fill-opacity="1" d="M0,224L1440,256L1440,320L0,320Z"></path>
  </svg>
</section>
