<section class="projects">
  <span id="projects" class="navigator"></span>

  <div class="section-title">{{ 'projects.title' | translate }}</div>

  <div class="projects-grid">
    <div class="container">
      <div class="block-img">
        <a href="https://dummycoin.vercel.app" target="_blank">
          <img loading="lazy" src="assets/img/dummycoin.png" />
        </a>
        <div class="buttons">
          <a *ngIf="!isMobile" href="https://dummycoin.vercel.app" target="_blank">
            <button>
              <span>{{ 'projects.buttons.visit' | translate }}</span
              >&nbsp;
              <fa-icon [icon]="faLink"></fa-icon>
            </button>
          </a>

          <div class="buttons__code">
            <a href="https://github.com/AdrianAgui/dummycoin-frontend" target="_blank">
              <button>
                <span>Frontend</span>&nbsp;
                <fa-icon [icon]="faCode"></fa-icon>
              </button>
            </a>
            <a href="https://github.com/AdrianAgui/dummycoin-backend" target="_blank">
              <button>
                <span>Backend</span>&nbsp;
                <fa-icon [icon]="faCode"></fa-icon>
              </button>
            </a>
          </div>
        </div>
      </div>

      <div class="info info-margin info-margin-left">
        <div class="info__title">
          {{ 'projects.dummycoin.title' | translate }}
        </div>
        <p class="info__text">
          {{ 'projects.dummycoin.info' | translate }}
        </p>
      </div>
    </div>

    <hr />

    <div class="container container-reverse">
      <div class="info info-margin info-margin-right">
        <div class="info__title">
          {{ 'projects.postsboard.title' | translate }}
        </div>
        <p class="info__text">
          {{ 'projects.postsboard.info' | translate }}
        </p>
      </div>

      <div class="block-img">
        <a href="https://adrianagui.github.io/posts-board" target="_blank">
          <img loading="lazy" src="assets/img/posts-board.png" />
        </a>
        <div class="buttons buttons-justify-end">
          <a *ngIf="!isMobile" href="https://adrianagui.github.io/posts-board" target="_blank">
            <button>
              <span>{{ 'projects.buttons.visit' | translate }}</span
              >&nbsp;
              <fa-icon [icon]="faLink"></fa-icon>
            </button>
          </a>
          <div class="buttons__code">
            <a href="https://github.com/AdrianAgui/posts-board" target="_blank">
              <button>
                <span>{{ 'projects.buttons.code' | translate }}</span
                >&nbsp;
                <fa-icon [icon]="faCode"></fa-icon>
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>

    <hr />

    <div class="container">
      <h2>Dev in progress... 👨‍💻</h2>
    </div>
  </div>

  <svg class="wave wave-home" xmlns="http://www.w3.org/2000/svg" viewBox="0 224 1440 96">
    <path fill="#ffffff" fill-opacity="1" d="M0,224L1440,256L1440,320L0,320Z"></path>
  </svg>
</section>
