.burger {
  position: relative;
  z-index: 100;

  label {
    display: flex;
    flex-direction: column;
    width: 40px;
    cursor: pointer;
  }

  label span {
    background: var(--text-color);
    border-radius: 10px;
    height: 4px;
    margin: 4px 0;
    transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }

  span:nth-of-type(1) {
    width: 50%;
  }

  span:nth-of-type(2) {
    width: 100%;
  }

  span:nth-of-type(3) {
    width: 75%;
  }

  input[type='checkbox'] {
    display: none;
  }

  input[type='checkbox']:checked ~ span:nth-of-type(1) {
    transform-origin: bottom;
    transform: rotatez(45deg) translate(5px, 0px);
  }

  input[type='checkbox']:checked ~ span:nth-of-type(2) {
    transform-origin: top;
    transform: rotatez(-45deg);
  }

  input[type='checkbox']:checked ~ span:nth-of-type(3) {
    transform-origin: bottom;
    width: 50%;
    transform: translate(18px, -6px) rotatez(45deg);
  }
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--bg-color);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;

  .menu-items {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .options {
    display: flex;
    justify-content: space-between;
    padding: 0 4rem;
    margin-top: 1rem;
  }
}

.sidenav a {
  display: block;
  padding: 16px;
  text-decoration: none;
  font-size: 32px;
  color: var(--text-color);
  transition: 0.3s;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
